@page "/Instruction"


<h3 class="text-red">Инструкция</h3>

<p>Добрый день, уважаемый покупатель!</p>
<p>На нашей платформе Вы сможете не только приобрести товар со скидкой в 50%, но и заработать. Как это сделать?</p>
<p>Шаг 1. Зарегистрироваться на нашей платформе, указав свое ФИО, номер телефона привязанный к своей банковской карте или банковские реквизиты.</p>
<p>Шаг 2. После регистрации вам необходимо ознакомиться с нашим ассортиментом товара, который уже представлен на площадке. Это надо для того, чтобы понять какие товары уже есть в магазине.</p>
<p>Шаг 3. Прошу обратить внимание на то, что вы можете выставить самостоятельно любой товар из других интернет-магазинов, но есть несколько пунктов о которых вы должны знать перед началом использования сайта.</p>
<ol>
    <li>Любой товар находится у нас в единственном экземпляре и только после продажи данного товара, вы также сможете выставить его.</li>
    <li>Для выставления своего товара, вам необходимо участвовать в сборе картинок, которые выставили другие пользователи.</li>
    <li>Покупать свои же пазлы нельзя, именно таким образом мы и построили систему взаимопомощи, чтобы каждый мог достигать своих целей.</li>
</ol>

<p>Шаг 4. После выставления лота, наберитесь терпения и ожидайте, когда ваша картинка соберется, а вместе с ним и ваш товар.</p>

<p>Успехов вам в достижении ваших целей!</p>



    @code {
        [CascadingParameter(Name = "MainMenuPunktChanged")]
        protected EventCallback MainMenuPunktChanged { get; set; }

        protected override void OnInitialized()
        {
            MainMenuPunktChanged.InvokeAsync(Services.MainMenuPunkt.Instruction);
        }
    }
