@page "/Instruction"


<h3 class="text-red">Инструкция</h3>

<p>Добрый день, уважаемые участники!</p>
<p>На нашей платформе Вы сможете не только приобрести товар со скидкой в 50%, но и заработать. Как это сделать?</p>
<p>Шаг 1. Зарегистрироваться на нашей платформе.</p>
<p>Шаг 2. Вы самостоятельно выбираете и выставляете любой товар из других интернет-магазинов.</p>
<p>Шаг 3. Товар размещается на сайте в виде картинки, которая разбивается на 300 пазлов. Стоимость каждого пазла - 1% от стоимости товара в интернет- магазине.</p>
<p>Шаг 4. Другие участники сообщества покупают ваши пазлы. Когда все пазлы будут проданы, Вы получаете свой товар или деньги. Один из 300-сот участников, помогавших собрать пазл, станет обладателем такого же товара.</p>
<p>Но есть несколько пунктов о которых вы должны знать перед началом использования сайта.</p>


<ol>
    <li>Любой товар находится у нас в единственном экземпляре. Убедитесь, что вашего товара нет на полках нашего сайта, в противном случае модератор отклонит вашу заявку.</li>
    <li>Для выставления своего товара, вам необходимо помогать другим участникам в сборе их картинок. Оказанная помощь должна составлять не менее 50% от стоимости вашей картинки.</li>
    <li>Покупать свои пазлы нельзя, именно таким образом мы и построили систему взаимопомощи, чтобы каждый мог достигать своих целей.</li>
</ol>





@code {
    [CascadingParameter(Name = "MainMenuPunktChanged")]
    protected EventCallback MainMenuPunktChanged { get; set; }

    protected override void OnInitialized()
    {
        MainMenuPunktChanged.InvokeAsync(Services.MainMenuPunkt.Instruction);
    }
}
