@page "/PersonalData"

<h3 class="text-red">Согласие на обработку персональных данных</h3>

<p>Персональные данные Пользователя/Покупателя обрабатывается в соответствии с ФЗ «О персональных данных» № 152-ФЗ.</p>
<p>Настоящим я принимаю решение о предоставлении своих персональных данных и даю согласие на их обработку свободно, своей волей и в своем интересе, с целью их сообщения на сайтах   http://www.inv-place.ru   и иных принадлежащих оператору по обработке персональных данных сайтах (в т.ч. в других доменных зонах).</p>
<p>Индивидуальный предприниматель ... (далее –«Оператор»), ИНН …..........., зарегистрированный межрайонной инспекцией федеральной налоговой службы No5 по Смоленской области  00 сентября 2020 года, ОГРНИП …................</p>
<p>Перечень персональных данных, на обработку которых дается согласие субъекта персональных данных:</p>
<p>фамилия, имя, отчество; дата и место рождения; адрес; фотография, паспортные данные: а) вид документа; б) серия и номер документа; в) орган, выдавший документ: - наименование, код; г) дата выдачи документа; адрес регистрации места жительства; адрес фактического места жительства; пол; возраст; номер контактного телефона; сведения о трудовой деятельности; адреса электронной почты. ИНН, СНИЛС</p>
<p>Перечень действий с персональными данными, на совершение которых дается согласие, общее описание используемых оператором способов обработки персональных данных:</p>

<ul>
    <li>
        Сообщение (распространение) персональных данных на
        сайте  http://www.inv-place.ru и иных принадлежащих оператору по обработке персональных данных сайтах (в т.ч. в других доменных зонах), а также на конференциях (симпозиумах), презентациях, конкурсах, в которых участвует Оператор;
    </li>

    <li>Осуществление прямых контактов с потенциальными потребителями с помощью средств связи и информационно-телекоммуникационной технических средств с использованием персональных данных;</li>

    <li>Обработка вышеуказанных персональных данных будет осуществляться путем смешанной обработки персональных данных (сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</li>

    <li>Срок, в течение которого действует согласие субъекта персональных данных, а также способ его отзыва, если иное не установлено федеральным законом:</li>

    <li>Срок действия настоящего согласия – 50 лет. Способ отзыва – письменное уведомление Оператора по месту его нахождения (с вручением под роспись курьером или почтовой службой).</li>
</ul>

@code {
    [CascadingParameter(Name = "MainMenuPunktChanged")]
    protected EventCallback MainMenuPunktChanged { get; set; }

    protected override void OnInitialized()
    {
        MainMenuPunktChanged.InvokeAsync(Services.MainMenuPunkt.Main);
    }
}
