@page
@model InvestPlace.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Подтверждение почты";
    Layout = "AccountLayout";
}

<div class="row">
    <div class="col col-12">
        <h4 class="text-red">Подтверждение регистрации</h4>
        <p>Поздравляем! Вы успешно зарегистрировались. Выполните <a asp-page="./LogIn" class="text-red">вход</a> чтобы начать пользоваться Invest Place.</p>
    </div>
</div>
