@page
@model InvestPlace.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Письмо отправлено";
    Layout = "AccountLayout";
}

<h1>@ViewData["Title"]</h1>
<p>
    На вашу элетронную почту отправлено письмо для восстановления пароля. Перейдите по ссылке из этого письма, чтобы восстановить доступ к аккаунту.
</p>

