@page
@model InvestPlace.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Выход";
    Layout = "AccountLayout";
}


<div class="row">
    <div class="col-lg-6 col-12">
        <section>
            <h4 class="text-red">Выход</h4>
            <hr />
            <div class="form-group">
                <p>
                    Вы успешно вышли из приложения.
                </p>
            </div>
            <div class="row">
                <div class="col col-12">
                    <a class="text-red" href="/shop">На главную</a>
                </div>
            </div>
        </section>
    </div>
</div>
