@page
@model InvestPlace.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
    Layout = "AccountLayout";
}

<div class="row">
    <div class="col col-12">
        <h4 class="text-red">Подтверждение регистрации</h4>
        <p>На Вашу электронную почту (@Model.Email) было отправлено письмо со ссылкой. Перейдите по ней, чтобы завершить регистрацию.</p>
    </div>
</div>

