@page
@model InvestPlace.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Новый пароль установлен";
    Layout = "AccountLayout";
}

<h1>@ViewData["Title"]</h1>
<p>
    Пароль к вашей учетной записи был заново установлен. Выполните <a asp-page="./Login" class="text-red">вход</a> в свою учетную запись.
</p>
