.blazor-carousel {
    width: 100%;
    min-height: 100%;
    background-color: transparent;
    /*margin: 0 auto;*/
    text-align: center;
    padding: 1rem;
}
.blazor-carousel-inner {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.blazor-carousel-image {
    padding: 0;
    margin: 0;
}

.blazor-carousel-image img {
    width: 100%;
    height: 100%;
}

.blazor-carousel-indicators-container, .blazor-carousel-arrow-container {
    display:inline-block;
    height: 30px;
}

.blazor-carousel-indicator {
    vertical-align: middle;
    height: 28px;
}

.blazor-carousel-indicator {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #a7a7a7;
    margin-right: 5px;
    float: left;
    cursor: pointer;
    border-radius: 100%;
}

.blazor-carousel-indicator-active {
    background-color: #303030;
}
.blazor-carousel-nav-container {
    display: inline-block;
    width: 100%;
    height: 30px;    
    text-align:center;
    position: relative;
    bottom: 0px;
    left: 0;
}

.blazor-carousel-control-next {
    padding-left: 10px;
}

.blazor-carousel-control-prev {
    padding-right: 10px;
}

.blazor-carousel-control-nav {
    width: 24px;
    height: 24px;
    cursor:pointer;
}

.blazor-carousel-pointer {
    cursor: pointer;
}
