@using Services.DTO;
@using Services.Services.ExtendedUserService;
@using Services.Services.LotService;
@using Services.Services.CashService; 
@using Services.Services.QueryExchangeService;


@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject IExtendedUserService ExtendedUserService;
@inject ILotService LotService;
@inject ICashService CashService;
@inject IQueryExchangeService QueryExchangeService;


<AuthorizeView Roles="Moderator, Admin">
    <Authorized>
        <a class="text-red dropdown-item" href="/ManageAccount">@UserName</a>
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="/UserList">Список пользователей</a>
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="/NewLotModerateList">Модерация новых лотов (@NewLotCount)</a>
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="/OutputCashModerateList">Заявки на вывод денег (@OutputCashCount)</a>
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="/ExchangeModerateList">Заявки на обмен товаров (@ExchangeLotCount)</a>
        <div class="dropdown-divider"></div>

        <form method="post" action="/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Выход</button>
        </form>
    </Authorized>
</AuthorizeView>



<AuthorizeView Roles="Normal">
    <Authorized>
        <a class="text-red dropdown-item" href="/ManageAccount">@UserName</a>
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="/Cash">Кошелёк</a>
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="/MyLots">Мои товары</a>
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="/MyPuzzles">Участвую в сборе пазлов</a>
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="/Exchange">Обмен собранной картинки на товар</a>
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#">Правила участия</a>
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="/History">История операций</a>
        <div class="dropdown-divider"></div>

        <form method="post" action="/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Выход</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="dropdown-item" href="/Account/Login">Войти</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/Account/Register">Зарегистрироваться</a>
    </NotAuthorized>
</AuthorizeView>




@code {
    string UserName = "";
    int NewLotCount = 0;
    int OutputCashCount = 0;
    int ExchangeLotCount = 0;

    protected override void OnInitialized()
    {
        UserName = FindUserName().Result;
        NewLotCount = LotService.LotForModerateCount();
        OutputCashCount = CashService.OutputCashRequestCount();
        ExchangeLotCount = QueryExchangeService.GetActiveQueryCount();
        base.OnInitialized();
    }

    private async Task<string> FindUserName()
    {
        string result = "";
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            ExtendedUserDto currentUser = ExtendedUserService.GetByEmail(user.Identity.Name);
            result = currentUser?.InnerName;
        }

        return result;
    }



}