<AuthorizeView>
    <NotAuthorized>
        <a href="/Account/Login">Войдите</a>, или <a href="/Account/Register">зарегистрируйтесь</a>, чтобы продолжить.
    </NotAuthorized>

    <Authorized>
        @ChildContent
    </Authorized>
</AuthorizeView>





@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
