@using Services.DTO;
@using Services.Services.ExtendedUserService;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject IExtendedUserService ExtendedUserService;

<AuthorizeView>
    <Authorized>
        <a class="text-red" href="/Account/Manage">@UserName</a>
        <form method="post" action="/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Выход</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="/Account/Login">Войти</a>
        <a href="/Account/Register">Зарегистрироваться</a>
    </NotAuthorized>
</AuthorizeView>



@code {
    string UserName = "";

    protected override void OnInitialized()
    {
        UserName = FindUserName().Result;
        base.OnInitialized();
    }

    private async Task<string> FindUserName()
    {
        //string email = context.User.Identity.Name;

        string result = "";
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            ExtendedUserDto currentUser = ExtendedUserService.GetByEmail(user.Identity.Name);
            result = currentUser?.InnerName;
        }
        else
        {
            result = "";
        }

        return result;
    }



}