@page "/Basket"

<h4>Корзина</h4>

<LoginWelcome>
    <p>А здесь мы нарисуем корзину.</p>
</LoginWelcome>




@code {

    // TODO: тут именно из кода надо взять пользователя и его корзину, не через параметры

}
