@page "/"
@layout EmptyLayout

@using Components;

<div class="landing-background">
    &nbsp;
</div>

@*<div class="row">
    <div class="col col-12">
        <h6>Drop shipping</h6>
    </div>
</div>*@


<div class="row">
    <div class="col col-8 offset-2">
        <div class="navbar navbar-expand-lg navbar-light nav-row landing-menu">
            <ul class="navbar-nav mr-auto landing-nav-bar">
                <li><a href="/Account/Register">Регистрация</a></li>
                <li><a href="/Shop">Магазин</a></li>
                <li><a href="/Instruction">Инструкция</a></li>
            </ul>
        </div>
    </div>
</div>

<Carousel imageset="@AssetImages" CssClass="col col-8 carousel" ImageClass="carousel-img" AutoScrollInterval="5" ShowArrows="false">

</Carousel>




@code {
    private List<ImageFile> AssetImages = new List<ImageFile>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        AssetImages.Add(new ImageFile() { Url = "images/landing/carousel-1.png" });
        AssetImages.Add(new ImageFile() { Url = "images/landing/carousel-2.png" });
        AssetImages.Add(new ImageFile() { Url = "images/landing/carousel-3.png" });
    }
}
