@page "/MyPuzzles"

@using Services.DTO;
@using Services.Services.LotService;

@inject ILotService LotService;



<LoginWelcome>

    <div class="margin-top-20"></div>

    <div class="row">
        <div class="col col-12">
            <h4 class="text-red">Участвую в сборе пазлов</h4>
        </div>
    </div>


    <div class="row margin-top-20">
        <div class="col col-12">
            <h6>Диапазон цены</h6>
            <hr />
        </div>
    </div>

    <!-- строки товаров по каждому ценовому диапазону -->
    <LotRowsByPriceRange Lots="lots" />


</LoginWelcome>









@code {
    [CascadingParameter]
    protected ExtendedUserDto user { get; set; }

    List<LotDto> lots = new List<LotDto>();

    protected override void OnInitialized()
    {
        lots = FindLots(user);
    }

    private List<LotDto> FindLots(ExtendedUserDto user)
    {
        List<LotDto> result = new List<LotDto>();
        if (user != null)
        {
            result = LotService.GetByUserBuy(user);
        }

        return result;
    }


}
