@page "/MyPuzzles"

@using Services.DTO;
@using Services.Services.LotService;
@using Services.Services.ExtendedUserService;

@inject NavigationManager NavigationManager;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject ILotService LotService;
@inject IExtendedUserService ExtendedUserService;



<LoginWelcome>

    <div class="margin-top-20"></div>

    <div class="row">
        <div class="col col-12">
            <h4 class="text-red">Участвую в сборе пазлов</h4>
        </div>
    </div>


    <div class="row margin-top-20">
        <div class="col col-12">
            <h6>Диапазон цены</h6>
            <hr />
        </div>
    </div>

    <!-- строки товаров по каждому ценовому диапазону -->
    <LotRowsByPriceRange Lots="lots" />


</LoginWelcome>









@code {

    List<LotDto> lots = new List<LotDto>();

    protected override void OnInitialized()
    {
        lots = FindLots().Result;
    }

    private async Task<List<LotDto>> FindLots()
    {
        ExtendedUserDto extendedUser = null;
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            extendedUser = ExtendedUserService.GetByEmail(user.Identity.Name);
        }

        List<LotDto> result = new List<LotDto>();
        if (extendedUser != null)
        {
            result = LotService.GetByUserBuy(extendedUser);
        }

        return result;
    }


}
