@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-height: 100%;
}

html {
}

body {
    background-color: #ededed;
}

.background-color-body {
    background-color: #ededed;
}

.background-color-white {
    background-color: white;
}

.nav-row .dropdown-menu.dropdown-form {
    background-color: white;
}

.dropdown-form {
    min-width: 25rem;
    padding: 10px;
    margin-left: -10rem;
    justify-content: center;
    background-color: white;
}

.navbar .dropdown-menu.dropdown-form.container {
    display: none;
}

.dropdown:hover .dropdown-menu.dropdown-form {
    display: block;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    text-transform: uppercase;
}

.btn-primary.disabled, 
.btn-primary:disabled,
.btn-secondary.disabled {
    background-color: #A08080;
    border-color: #A08080;
}

.btn-primary.focus, .btn-primary:focus,
.btn-primary,
.btn-secondary {
    color: #fff;
    background-color: #800000;
    border-color: #800000;
    border-radius: 0;
}

.btn-primary:hover,
.btn-secondary:hover{
    border-color: #500000;
    background-color: #500000;
}


.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
        background-color: #A00000;
        border-color: #A00000;
        box-shadow: 0 0 0 0.2rem rgba(204, 61, 61, 0.5);
    }

.btn-primary:focus,
.btn-primary.focus,
.btn-secondary:focus,
.btn-secondary.focus {
        box-shadow: none; /* 0 0 0 0.2rem rgba(204, 61, 61, 0.5);*/
        border-color: #A00000;
    }



app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.text-red {
    color: #800000 !important;
}

.text-gray {
    color: #808080 !important;
}

.text-gray-light {
    color: #d7d7d7 !important;
}

/*********  таблица в корзине *********************/

table.text-center td {
    text-align: center;
    vertical-align: middle;
}

.row-btn-minus,
.row-btn-plus,
.del-row-btn {
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    border: none;
}

.del-row-btn:active,
.del-row-btn:checked,
.del-row-btn:visited,
.del-row-btn:link,
.del-row-btn:focus,
.row-btn-minus:focus,
.row-btn-plus:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.del-row-btn:hover {
    background-image: url('/images/icon-delete-dark.png');
}

.del-row-btn {
    background-image: url('/images/icon-delete.png');
}

.row-btn-minus {
    background-image: url('/images/icon-minus.png');
    margin-right: 40px;
}

.row-btn-minus:hover {
    background-image: url('/images/icon-minus-dark.png');
}

.row-btn-plus {
    background-image: url('/images/icon-plus.png');
}

.row-btn-plus:hover {
    background-image: url('/images/icon-plus-dark.png');
}

.basket-count-wrapper {
    position: relative;
}

.basket-count {
    background-image: url('../images/puzzle-detail-white.png');
    background-repeat: no-repeat;
    top: calc(50% - 34px);
    left: calc(50% - 39px);
    position: absolute;
    width: 78px;
    height: 68px;
    line-height: 68px;
    font-size: 16px;
    text-align: center;
}


/*******************************/

/******** футер *****************/
app {
    min-height: 100vh;
}

.footer {
    min-height: 145px;
    margin-top: 50px;
    background-color: #9f9f9f;
    padding-top: 1.1rem;
}

.footer > div {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}

.footer .container {
    max-width: none;
}


/*******************************/

.avatar {
    height: 144px;
    width: 144px;
}


/************ загрузка файлов ************************************/
.load-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    color: #800000;
}

.load-link:hover {
    text-decoration: underline;
}

.load-link input[type=file] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.dropzone {
    border: 3px dashed #d7d7d7;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
    color: #444;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    width: 100%;
    height: 100%; /*50vh;*/
}

.dropzone:hover {
    background-color: #f3f3f3;
    color: #333;
}

.dropzone input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropzone-drag {
    background-color: palegreen;
}

/***********************************************/

.header-wrapper {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.conteiner-for-centered {
    display: flex;
    align-items: center;
}

.hidden {
    display: none !important;
}


.left-separator {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.right-separator {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.social-logo {
    float: right;
    margin-left: 10px;
}


/* страница поиска */
.search-card img {
    width: 167px;
    height: 127px;
    margin-bottom: 20px;
}

.search-desc {
    overflow-wrap: anywhere !important;
}

.search-price {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #800000;
    color: white;
    font-size: 16px;
    width: fit-content;
}

/****************************************/

/******** поле покупателей *******************************/

.field-cell img {
    width: 70px;
    height: 55px;
}

td.field-cell {
    height: 55px;
    width: 70px;
    padding: 0;
}

td.field-cell h6 {
    color: #c9b1b1;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-size: 18px;
    position: absolute;
    left: 30px;
    top: 30px;
}

.field-cell-inner {
    position: relative;
}
/***************************************/




/************* страница обмена товаров **************************/

.div-hover {
    cursor: pointer;
}

.div-hover:hover,
.div-hover.selected {
    background-color: rgba(0, 0, 0, 0.1);
}



/**************************************/




.table-hover {
    cursor: pointer;
}

.table tr.selected {
    background-color: rgba(0,0,0,.075);
}

.faq-header {
    cursor: pointer;
}



/* это дл€ списка лотов в размещении лота */
.lot-my-img-sm {
    width: 123px !important;
    height: 100px !important;
    border: 1px solid #c7c7c7;
}

.lot-my-img-xs {
    width: 60px !important;
    height: 50px !important;
    border: 1px solid #c7c7c7;
}

.cursor-pointer {
    cursor: pointer;
}


/* страница ћои товары */
.lot-my-img {
    width: 123px;
    height: 100px;
    border: 1px solid #c7c7c7;
}

.lot-my-count {
    background-image: url('../images/puzzle-detail-small.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 110px;
    color: white;
    width: 48px;
    height: 41px;
    line-height: 41px;
    font-size: 12px;
    text-align: center;
}

.lot-my-price {
    position: absolute;
    top: 65px;
    left: 110px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #800000;
    color: white;
    font-size: 12px
}

.lot-my-caption {
}
/***********************/

/* лоты на главной */

.lot-list-img {
    width: 155px;
    height: 140px;
    border: 1px solid #c7c7c7;
}

.lot-list-count {
    background-image: url('../images/puzzle-detail.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 10px;
    left: 140px;
    color: white;
    width: 70px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}

.lot-list-price {
    position: absolute;
    top: 100px;
    left: 120px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #800000;
    color: white;
    font-size: 14px;
}

.lot-list-label {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em;
    width: 155px;
    white-space: nowrap;
}

/*******************************************/

/* лоты подробно */
.lot-edit-count {
    background-image: url('../images/puzzle-detail.png');
    background-repeat: no-repeat;
    color: white;
    width: 97px;
    height: 85px;
    line-height: 85px;
    font-size: 20px;
    text-align: center;
}

.lot-edit-count-btn {
    float: right;
    border: none;
}
/******************************************/



a.text-red {
    cursor: pointer;
}

a:hover.text-red {
    cursor: pointer;
    text-decoration: underline;
}

a.link-text-usual {
    color: black;
}

a.link-text-usual:hover {
    text-decoration: none;
}

a.black-link,
a.black-link:hover,
a.black-link:visited {
    color: black;
    text-decoration: underline;
}


.header {
    height: 78px;
}

.nav-row {
    background-color: #141414;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 10em;
    padding-right: 10em;
    margin-left: 0px;
    margin-right: 0px;
}

.nav-row li,
.nav-row a {
    color: white;
    margin-left: 20px;
    padding-top: 12px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 100;
}

.nav-row ul li:first-child,
.nav-row ul li:first-child a,
.nav-row a:first-child {
    margin-left: 0px;
}


.nav-row a:hover {
    color: white;
    text-decoration: none;
}

.nav-row a.active,
.nav-row li>a:hover {
    border-top: 3px solid #7f0000;
}



.nav-row .dropdown-menu {
    background-color: #959ea4;
}

.nav-row .dropdown-item:active {
    background-color: #7d858a;
}

.nav-row a.dropdown-item {
    margin: 0;
}

.nav-row a.dropdown-item:hover {
    background-color: #7d858a;
}


.main .top-row > a, .main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: column;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}


/* дл€ ImageWithHover */
.img-full {
    width: 100%;
}


.img-hover {
    width: 100%;
    top: 0px;
    position: absolute;
}

.img-wrapper {
}
/************************/

.label {
    color: #808080;
}


.inline {
    display: inline;
}


.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-120 {
    margin-top: 120px;
}


.padding-top-120 {
    padding-top: 120px;
}



/******** slider *********************/
.slider.slider-horizontal .slider-track .slider-selection,
.slider .slider-track .slider-selection {
    background: #c3615a;
    height: 4px;
}

.slider.slider-horizontal .slider-track .slider-track-low,
.slider.slider-horizontal .slider-track .slider-track-high {
    background: black;
    height: 2px;
}

.slider-track {
    background-color: #ededed;
    margin-top: unset !important;
    height: unset !important;
}

.slider-handle {
    background: #f6f6f6 !important;
    border-radius: 2px !important;
    border: 1px solid #aaaaaa !important;
}

.slider-wrapper .input-min,
.slider-wrapper .input-max {
    max-width: 85px;
}

/*******************************/